body {
    font-family: "Fira Sans", Poppins, Tahoma, sans-serif;
    background-color: antiquewhite;
} 

@font-face {
    font-family: "Fira Sans";
    src: url('Fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
         url('Fonts/fira/woff/FiraSans-Regular.woff') format('woff');
  }

  @font-face {
    font-family: "Fira Sans";
    src: url('Fonts/Poppins/Poppins_normal_300.woff2') format('woff2');
  }
