body {
    background-color: #1b1b1b;
}

.page {
    font-family: "Fira Sans", Poppins, Tahoma, sans-serif; /* choose other font */
    background-color: #121212;
    color:floralwhite;
    border: 5px solid darkgray;
    border-radius: 25px;
    margin: 15px auto;
    max-width: 1700px;
    } 

@font-face {
    font-family: "Fira Sans";
    src: url('Fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
         url('Fonts/fira/woff/FiraSans-Regular.woff') format('woff');
    }

@font-face {
    font-family: "Fira Sans";
    src: url('Fonts/Poppins/Poppins_normal_300.woff2') format('woff2');
    }

h1 {
    text-align: center;
}

.introduction {
    margin: 20px;
}

img {
    margin: 5px;
}

.image {
    margin: 5px;
}

.about {
    border: 5px solid lightblue;
    border-radius: 20px;
    background-color:rgb(29, 29, 29);
    margin-bottom: 15px;
   }

p {
    font-weight: 700;
   }



